<div class="content_box" style="padding:15px 10px;">
  <h2>Welcome <span><%= current_user.email %></span></h2>
</div>

<div class="box_wrapper">
  <div class="box">
    <header>
      <h2>Users</h2>
    </header>
    <section>
      <%= link_to "Manage Users", users_path %>
    </section>
  </div>

</div>

