<div class="content_box" style="padding:15px 10px;">
  <h2>contact <span>Catherine</span></h2>
  <p>You can contact me at the following:</p>
  <ul class="list">
  <li>Phone Number: 08382003</li>
  <li>Email Address: <a href="mailto:contact@me.com">contact@me.com</a></li>
  <li>YM: contactym</li>
  </ul>
</div>

