<div class="content_box">
  <h2><span><%= link_to @gallery.title, my_gallery_path(@gallery) %></span></h2>

  <%= @gallery.description %>
</div>
<br/>
<div class="content_box">
  <% if @gallery.pieces.length > 0 %>
    <table>
      <tr>
        <% @gallery.pieces.each do |piece| %>
          <td>
            <%= render :partial => "galleries/piece", :locals => {:piece => piece} %>
          </td>
        <% end %>
      <tr>
    </table>
  <% end %>

</div>

